/* styles.css */

.navbar.bg-transparent {
    background-color: transparent !important;
    transition: background-color 0.5s ease;

    }




    .h1{
        text-align: center;
        margin-top: 120px; 
    }


    .col {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        padding: 10px;
        text-align: center;
    } 

    


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white; 
}

/* Barra de navegación */
.navbar {
    background-color: #f8f9fa !important; /* Color de fondo */
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #333;
}

/* Carousel */
#carousel {
    margin-top: 56px; /* Altura de la barra de navegación */
    /* display: flex; */
}

.carousel-item img {
    height: 300px; /* Altura deseada */
    object-fit: cover;
}

/* Presentación */
#presentacion {
    padding: 50px 0;
}

/* Destacados */
#destacados {
    padding: 50px 0;
    text-align: center;
}

.card-body{
    background-color: rgb(63, 126, 243); ;
}

.card-text{
     color: white; 
}

.h5{

   
    display: flex;
    margin-top: 120px; 
    justify-content: center

}



.card {
    margin-bottom: 20px;
}

.car-body{

    color: rgb(63, 126, 243);
    text-emphasis-color: white; 
}
/* Contacto */


#contacto {
    padding: 50px 0;
    color: white; 
   /* text-align: center; */
    
}




.idcontacto{
    display: flex;
}

.btn{ 
    display: flex; 
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(63, 126, 243);
    color: #fff;
}

.footer-left h3 {
    margin: 0;
}

.footer-right a {
    margin-left: 15px;
    color: #fff;
}

.footer-right img {
    width: 30px; /* Ajusta el tamaño de los íconos según tus necesidades */
    height: 30px; /* Ajusta el tamaño de los íconos según tus necesidades */
    color: #fff;
}